<div class="home-page">
    <div id="header">
        <div class="row">
            <div class="col-6">
                <!--display Logo-->
                <div class="container-fluid">
                    <div class="logo">
                        <p>Who What Where</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 top-mar">
                <!--search location & button-->
                <div class="form-inline pull-xs-right">
                    <input class="form-control" type="text" id="input" ng-model="item" required
                           onkeypress="return event.charCode >= 64 && event.charCode <= 122"
                           placeholder="I am looking for....">
                    <input class="form-control" type="text" ng-model="location" required
                           onkeypress="return event.charCode >= 64 && event.charCode <= 122"
                           placeholder="Enter Location....">
                    <button class="btn btn-success" id="search-button" ng-click="onButtonClick()" type="submit">
                        <a ui-sref="displayList" id="submit">Submit</a></button>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>

<!--display content-->
<div ng-include="'views/middelContent.html'"></div>